<Files .htaccess>
order allow,deny
deny from all
</Files>
ErrorDocument 404 /404.html
RewriteEngine on
Redirect http://www.noamross.net/statsclasses/ABG250.html http://egsa.nfshost.com/resources/stats/ [R=301,NC,L]
Redirect http://www.noamross.net/statsclasses/ANT261.html http://egsa.nfshost.com/resources/stats/ant261/ [R=301,NC,L]
Redirect http://www.noamross.net/statsclasses/ARE256.html http://egsa.nfshost.com/resources/stats/are256/ [R=301,NC,L]
Redirect http://www.noamross.net/statsclasses/ECL231.html http://egsa.nfshost.com/resources/stats/ecl231/ [R=301,NC,L]
Redirect http://www.noamross.net/statsclasses/ECL290.html http://egsa.nfshost.com/resources/stats/ecl290/ [R=301,NC,L]
Redirect http://www.noamross.net/statsclasses/ECL298-2.html http://egsa.nfshost.com/resources/stats/ecl298-2/ [R=301,NC,L]
Redirect http://www.noamross.net/statsclasses/ECL298.html http://egsa.nfshost.com/resources/stats/ecl298/ [R=301,NC,L]
Redirect http://www.noamross.net/statsclasses/ECLANT298.html http://egsa.nfshost.com/resources/stats/eclant298/  [R=301,NC,L]
Redirect http://www.noamross.net/statsclasses/ECN240A.html http://egsa.nfshost.com/resources/stats/ecn240a/ [R=301,NC,L]
Redirect http://www.noamross.net/statsclasses/ECN240B.html http://egsa.nfshost.com/resources/stats/ecn240b/ [R=301,NC,L]
Redirect http://www.noamross.net/statsclasses/EPI204A.html http://egsa.nfshost.com/resources/stats/epi204a/ [R=301,NC,L]
Redirect http://www.noamross.net/statsclasses/EPI204B.html http://egsa.nfshost.com/resources/stats/epi204b/ [R=301,NC,L]
Redirect http://www.noamross.net/statsclasses/EVE231.html http://egsa.nfshost.com/resources/stats/eve231/ [R=301,NC,L]
Redirect http://www.noamross.net/statsclasses/GEO200CN.html http://egsa.nfshost.com/resources/stats/geo200cn/ [R=301,NC,L]
Redirect http://www.noamross.net/statsclasses/HYD273.html http://egsa.nfshost.com/resources/stats/hyd273/ [R=301,NC,L]
Redirect http://www.noamross.net/statsclasses/MAT135A.html http://egsa.nfshost.com/resources/stats/mat135a/ [R=301,NC,L]
Redirect http://www.noamross.net/statsclasses/MAT135B.html http://egsa.nfshost.com/resources/stats/mat135b/ [R=301,NC,L]
Redirect http://www.noamross.net/statsclasses/PLS120.html http://egsa.nfshost.com/resources/stats/pls120/ [R=301,NC,L]
Redirect http://www.noamross.net/statsclasses/PLS205.html http://egsa.nfshost.com/resources/stats/pls205/ [R=301,NC,L]
Redirect http://www.noamross.net/statsclasses/PLS206.html http://egsa.nfshost.com/resources/stats/pls206/ [R=301,NC,L]
Redirect http://www.noamross.net/statsclasses/PLS298.html http://egsa.nfshost.com/resources/stats/pls298/ [R=301,NC,L]
Redirect http://www.noamross.net/statsclasses/POL211.html http://egsa.nfshost.com/resources/stats/pol211/ [R=301,NC,L]
Redirect http://www.noamross.net/statsclasses/POL212.html http://egsa.nfshost.com/resources/stats/pol212/ [R=301,NC,L]
Redirect http://www.noamross.net/statsclasses/POL213.html http://egsa.nfshost.com/resources/stats/pol213/ [R=301,NC,L]
Redirect http://www.noamross.net/statsclasses/POL279.html http://egsa.nfshost.com/resources/stats/pol279/ [R=301,NC,L]
Redirect http://www.noamross.net/statsclasses/PSC204A.html http://egsa.nfshost.com/resources/stats/psc204a/ [R=301,NC,L]
Redirect http://www.noamross.net/statsclasses/STA100.html http://egsa.nfshost.com/resources/stats/sta100/ [R=301,NC,L]
Redirect http://www.noamross.net/statsclasses/STA120.html http://egsa.nfshost.com/resources/stats/sta120/ [R=301,NC,L]
Redirect http://www.noamross.net/statsclasses/STA130A.html http://egsa.nfshost.com/resources/stats/sta130a/ [R=301,NC,L]
Redirect http://www.noamross.net/statsclasses/STA130B.html http://egsa.nfshost.com/resources/stats/sta130b/ [R=301,NC,L]
Redirect http://www.noamross.net/statsclasses/STA131A.html http://egsa.nfshost.com/resources/stats/sta131a/ [R=301,NC,L]
Redirect http://www.noamross.net/statsclasses/STA135.html http://egsa.nfshost.com/resources/stats/sta135/ [R=301,NC,L]
Redirect http://www.noamross.net/statsclasses/STA141.html http://egsa.nfshost.com/resources/stats/sta141/ [R=301,NC,L]
Redirect http://www.noamross.net/statsclasses/STA242.html http://egsa.nfshost.com/resources/stats/sta242/ [R=301,NC,L]
Redirect http://www.noamross.net/statsclasses/WFC222.html http://egsa.nfshost.com/resources/stats/wfc222/ [R=301,NC,L]